$primary: #EB6E1F;
$background: #FAFAFA;
$grey: #cbcbcb;

@import '_grid';
body {
  font-family: 'Roboto Slab', 'Lato';
  background: $background;
  display: block;
  margin: 0;
  * {
    box-sizing: border-box;
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  #header {
    background: url(https://lowercasellc.files.wordpress.com/2012/08/orange-strip-top-big.png);
    height: 70px;
    width: 100%;
  }
  .container {
    .text-center {
      text-align: center;
      img {
        width: 60%;
        margin-top: 50px;
      }
      h1 {
        color: $primary;
        font-size: 48px;
        padding: 10px 0;
      }
      h3 {
        font-weight: 400;
        padding: 10px 0;
        a {
          text-decoration: underline;
        }
      }
      i {
        position: relative;
        z-index: 1;
        right: -15px;
        top: 1px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
      }
      input {
        border-radius: 3px;
        border: 1px #EB6E1F solid;
        width: 300px;
        height: 40px;
        text-align: center;
        outline: none;
      }
      .row {
        .listing {
          border: 1px #EB6E1F solid;
          margin: 30px 0;
          padding: 20px 0;
          border-radius: 5px;
          overflow: auto;
          a {

          }
          .col-wrapper {
            div {
              display: inline-block;
            }
            .coposition-text {
              .position-text {
                margin-right: 5px;
                font-size: 24px;
                color: #EB6E1F;
              }
              .company-text {
                margin-left: 5px;
                font-size: 24px;
              }
            }
          }
          .moreinfo {
            display: inline-block;
            width: 50px;
            a {
              color: #333;
              text-decoration: none;
              cursor: auto;
              .fa-container {
                background: $primary;
                right: 30px;
                top: 10px;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                transform: scale(0.75);

                i {
                  top: 10px;
                  color: white;
                  right: 8px;
                }
              }
              .fa-container:hover {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
