<html ng-app="LowercaseJobs">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <title>Lowercase Jobs</title>
  <link rel="icon" type="image/ico" href="favicon.ico">
  <!-- load angular -->
  <script src="core.js"></script>
  <script src="controllers.js"></script>

</head>

  <body ng-controller="loginController">
    <div class="col-md-4">
  <h1>Login</h2>
  <div ng-show="error" class="alert alert-danger"></div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
    <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
</div>
  </body>
</html>
