<html ng-app="LowercaseJobs">

  <head>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- load angular -->
    <script src="core.js"></script>
  </head>


  <body ng-controller="mainCtrl">



    <div style="margin-top: 75px;" class="submit-main text-center">
      <input type="text" class="text-center" ng-model="formData.position" placeholder="Title of Position" required><br><br>
      <input type="text" class="text-center" ng-model="formData.company" placeholder="Company Name" required><br><br>


      <input type="text" class="text-center" ng-model="formData.description" placeholder="Description" required><br><br>

    <input type="text" class="text-center" ng-model="formData.moreinfo" placeholder="Link to More Info" required><br><br>

      <a href="/" class="submit-btn" ng-click="createListing()">SUBMIT</a>


      </div>










  </body>

</html>
